.ContactContainer{
 margin: auto;
 /* background-color: whitesmoke; */
 margin-top: 20px;
 padding: 20px;
}
.formContent{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
}
.ContactContainer input{
    padding: 5px;
    height: 40px;
    width: 500px;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
}
.ContactContainer button{
    width: 200px;
    margin-top: 10px;
}