.Navbar {
  display: flex;
  background-color: antiquewhite;
  text-align: center;
  justify-content: center;
}

.Navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 5px;
  /* text-align: center; */
}

.Navbar ul li {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}
