.NavContainer{
    background-color: black;
    font-size: 22px;
    font-weight: 500;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
}
.navLinks{
    display: flex;
    gap:10px;
    color: white;
    margin: auto;
  
}
.Link{
    color: whitesmoke;
    text-decoration: none;
}