.DashBoardContainer {
  height: 500px;
  margin-top: 0.5rem;
  background: url("https://t3.ftcdn.net/jpg/02/39/39/92/240_F_239399223_tthRTvt26El5ccmyQIck9ySsHKgX5YBo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 0 4rem;
  font-family: "Roboto", sans-serif;
}

.herosection {
  width: 25%;
  padding: 1rem;
}

.herosection > p:first-child {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.herosection > h2 {
  font-size: 42px;
  color: #fff;
}

.herosection > h2 + p {
  font-size: 18px;
  color: #fff;
  line-height: 30px;
}

.buttonSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.buttonSection > button {
  padding: 15px 30px;
  border: 1px solid rgb(62, 21, 60);
  background-color: rgb(153, 106, 168);
  color: #fff;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
}

.playicon {
  font-size: 50px;
  color: rgb(179, 101, 196);
  cursor: pointer;
}

.buttonSection > p {
  color: rgb(152, 88, 178);
  font-weight: 700;
  font-size: 18px;
}

@media only screen and (min-width: 320px) and (max-width: 1077px) {
  .DashBoardContainer {
    padding: 0 1rem;
  }

  .herosection {
    width: 90%;
  }
  .herosection > h2 {
    font-size: 38px;
  }

  .playicon {
    margin-left: -20px;
    font-size: 35px;
  }

  .buttonSection > button {
    padding: 10px 15px;
    border-radius: 05px;
    font-size: 14px;
  }
  .buttonSection {
    /* justify-content: space-evenly; */
    justify-content: left;
    gap: 2rem;
  }
  .buttonSection > p {
    font-size: 16px;
  }
}
