.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.first-row {
  display: flex;
  height: 100%;
}

.first-row input {
  margin: 15px;
  padding: 8px;
  width: 400px;
}

.second-row {
  border: 1px solid black;
  height: 50vh;
}
